{%- comment -%}
  {%- include nav/inactive_links.html 
        nodes = array 
        ancestors = array 
        in_section = value_or_nil
        pages = array -%}
  outputs links for inactive nodes and their children.
{%- endcomment -%}

<ul class="nav-list">
{%- for node in include.nodes -%}
  {%- unless node.nav_exclude == true -%}
    
    {%- if site.nav_cache == false -%}
      {%- include nav/inactive_node.html
            node = node
            ancestors = include.ancestors
            in_section = include.in_section
            pages = include.pages -%}
    {%- else -%}
      {%- include_cached nav/inactive_node.html
            node = node
            ancestors = include.ancestors
            in_section = include.in_section
            pages = include.pages -%}
    {%- endif -%}
    
  {%- endunless -%}
{%- endfor -%}
</ul>
