{%- comment -%}
  {%- include nav/inactive_node.html 
        node = node
        ancestor_titles = string 
        in_section = value_or_nil
        pages = array
        cached = bool -%}
  outputs links for the inactive node and its children. The 
{%- endcomment -%}

{%- if include.cached -%}
  {%- include nav/parenthood.html
        pages = include.pages -%}
{%- endif -%}

{%- if node.section_id -%}
  {%- assign nav_section = node.section_id -%}
{%- else -%}
  {%- assign nav_section = include.in_section -%}
{%- endif -%}

{%- include nav/children.html 
      node = node
      ancestor_titles = include.ancestor_titles
      in_section = nav_section -%}
      
<li class="nav-list-item">
  {%- if nav_children.size >= 1 -%}
    <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
  {%- endif -%}
  <a href="{{ node.url | absolute_url }}" class="nav-list-link">{{ node.title }}</a>
  {%- if nav_children.size >= 1 -%}
    {%- assign nav_children_ancestor_titles =  include.ancestor_titles 
          | append: "^" | append: node.title -%}
    {%- include nav/inactive_links.html
          nodes = nav_children
          ancestor_titles = nav_children_ancestor_titles
          in_section = nav_section
          pages = include.pages -%}
  {%- endif -%}
</li>
