{%- comment -%}
  {%- include nav/links.html 
        nodes = array 
        ancestors = array 
        path = string 
        in_section = value_or_nil
        pages = array -%}
  outputs links for non-excluded nodes and their children. The links for an
  inactive node are independent of the path to the current page, and cached.
{%- endcomment -%}

<ul class="nav-list">
{%- for node in include.nodes -%}
  {%- unless node.nav_exclude == true -%}

    {%- assign nav_path = include.path | append: " " | append: forloop.index -%}
    {%- if nav_page_path contains nav_path -%}
      {%- assign nav_active = true -%}
    {%- else -%}
      {%- assign nav_active = false -%}
    {%- endif -%}

    {%- if nav_active or site.nav_cache == false -%}
      {%- include nav/node.html
            node = node
            ancestors = include.ancestors
            path = nav_path
            in_section = include.in_section
            pages = include.pages
            active = nav_active -%}
    {%- else -%}
      {%- include_cached nav/inactive_node.html
            node = node
            ancestors = include.ancestors
            in_section = include.in_section
            pages = include.pages -%}
    {%- endif -%}

  {%- endunless -%}
{%- endfor -%}
</ul>
