{%- comment -%}
  {%- include nav/page.html 
        nodes=array 
        ancestors=array 
        path=string 
        section=string -%}
  - assigns nav_page_ancestors
  - assigns nav_page_path
  - assigns nav_page_children
  - deletes nav_* local variables
{%- endcomment -%}

{%- unless nav_page_path -%}
  {%- include nav/sorted.html nodes=include.nodes -%}
  {%- for node in nav_sorted -%}
    {%- if nav_page_dir contains node.dir or nav_direct == false -%}
      {%- include nav/children.html 
            node=node
            ancestors=include.ancestors
            section=include.section -%}
      {%- assign nav_path =  include.path | append: " " | append: forloop.index -%}
      {%- if node.url == page.url -%}
        {%- assign nav_page_ancestors = include.ancestors -%}
        {%- assign nav_page_path = nav_path -%}
        {%- assign nav_page_children = nav_children -%}
        {%- assign nav_prev_index0 = forloop.index0 | minus: 1 -%}
        {%- assign nav_next_index0 = forloop.index0 | plus: 1 -%}
        {%- if nav_prev_index0 >= 0 -%}
          {%- assign nav_page_prev = nav_sorted[nav_prev_index0] -%}
        {%- endif -%}
        {%- if nav_next_index0 < nav_sorted.size -%}
          {%- assign nav_page_next = nav_sorted[nav_next_index0] -%}
        {%- endif -%}
        {%- break -%}
      {%- endif -%}
      {%- if nav_children.size >= 1 -%}
        {%- assign nav_ancestors = include.ancestors | push: node -%}
        {%- if include.section -%}
          {%- assign nav_section = include.section -%}
        {%- else -%}
          {%- assign nav_section = node.section -%}
        {%- endif -%}
        {%- assign nav_sorted_copy = nav_sorted -%}
        {%- include nav/page.html
              nodes=nav_children
              ancestors=nav_ancestors
              path=nav_path
              section=nav_section -%}
        {%- assign nav_sorted = nav_sorted_copy -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endunless -%}

{%- assign nav_children = nil -%}
{%- assign nav_ancestors = nil -%}
{%- assign nav_path = nil -%}
{%- assign nav_section = nil -%}
