{%- comment -%}
  {%- include nav/page.html 
        nodes=array 
        ancestors=array 
        path=string 
        section=string -%}
  - assigns nav_page_ancestors
  - assigns nav_page_path
  - assigns nav_page_children
  - deletes nav_* local variables
{%- endcomment -%}

{%- unless nav_page_path -%}
  {%- for node in include.nodes -%}
    {%- if nav_page_dir contains node.dir or nav_direct == false -%}
      {%- include nav/children.html 
            node=node
            ancestors=include.ancestors
            section=include.section -%}
      {%- assign nav_path =  include.path | append: " " | append: forloop.index -%}
      {%- if node.url == page.url -%}
        {%- assign nav_page_ancestors = include.ancestors -%}
        {%- assign nav_page_path = nav_path -%}
        {%- assign nav_page_children = nav_children -%}
        {%- break -%}
      {%- endif -%}
      {%- if nav_children.size >= 1 -%}
        {%- assign nav_children_ancestors = include.ancestors | push: node -%}
        {%- if include.section -%}
          {%- assign nav_section = include.section -%}
        {%- else -%}
          {%- assign nav_section = node.section -%}
        {%- endif -%}
        {%- include nav/page.html
              nodes=nav_children
              ancestors=nav_children_ancestors
              path=nav_path
              section=nav_section -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endunless -%}

{%- assign nav_children = nil -%}
{%- assign nav_chikdren_ancestors = nil -%}
{%- assign nav_path = nil -%}
{%- assign nav_section = nil -%}
