{%- comment -%}
  {%- include nav/parenthood.html
        pages = array -%}
  creates `nav_parenthood` by sorting the items of each hash. Sorting pages
  before grouping them would be simpler, but less efficient on larger sites.
{%- endcomment -%}

{%- assign nav_nodes = include.pages | where_exp: "item", "item.title != nil "-%}
{%- assign nav_parenthood_unsorted = nav_nodes | group_by: "parent" -%}
{%- assign nav_parenthood = "" | split: "X" -%}
{%- for nav_group in nav_parenthood_unsorted -%}
  {%- include nav/sorted.html
        nodes = nav_group.items -%}
  {%- assign nav_group_sorted = nav_sorted | group_by: "parent" | first -%}
  {%- assign nav_parenthood = nav_parenthood | push: nav_group_sorted -%}
{%- endfor -%}
