{%- if page.url == include.node.url -%}
  {%- assign active = true -%}
{%- else -%}
  {%- assign activity_children = hierarchy | where_exp:"item", "item.name == include.node.title" | map: "items" | first -%}
  {%- assign parents = activity_children | map: "grand_parent" | uniq -%}
  {%- if parents.size >= 2 -%}
    {%- assign activity_children = activity_children | where_exp:"item", "item.grand_parent == include.node.parent" -%}
  {%- endif -%}
  {%- for activity_node in activity_children -%}
    {%- include active.html node=activity_node -%}
  {%- endfor -%}
{%- endif -%}
