<ul class="nav-list">
  {%- for node in include.nodes -%}
    {%- include active.html node=node -%}
    <li class="nav-list-item{% if active %} active{% endif %}">
      <a href="{{ node.url | absolute_url }}" class="nav-list-link{% if active %} active{% endif %}">{{ node.title }}</a>
      {%- if active -%}
        {%- assign active = false -%}
        {%- assign children = hierarchy | where_exp:"item", "item.name == node.title" | map: "items" | first -%}
        {%- if children -%}
          {%- include nav.html nodes=children -%}
        {%- endif -%}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
