<ul class="nav-list">
  {%- for node in include.nodes -%}
    {%- include active.html node=node -%}
    <li class="nav-list-item{% if active %} active{% endif %}">
    {%- assign children = hierarchy | where_exp:"item", "item.name == node.title" | map: "items" | first -%}
    {%- if children -%}
      <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
    {%- endif -%}
    <a href="{{ node.url | absolute_url }}" class="nav-list-link{% if active %} active{% endif %}">{{ node.title }}</a>
    {%- if active -%}
      {%- assign active = false -%}
      {%- if children -%}
        {%- include nav.html nodes=children -%}
      {%- endif -%}
    {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
