{%- comment -%}
  {% include nav_crumbs.html %}
  - assumes nav_page_ancestors is an array of all ancestor pages
  - outputs breadcrumb links for ancestor pages, and the title of the current page
{%- endcomment -%}

<nav aria-label="Breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb-nav-list">
    {%- for node in nav_page_ancestors -%}
    <li class="breadcrumb-nav-list-item">
      <a href="{{ node.url | absolute_url }}">{{ node.title }}</a>
    </li>
    {% endfor %}
    <li class="breadcrumb-nav-list-item">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</nav>
