{%- assign toc_nodes = hierarchy | where_exp:"item", "item.name == page.title" | map: "items" | first -%}
{%- assign parents = toc_nodes | map: "grand_parent" | uniq -%}
{%- if parents.size >= 2 -%}
  {%- assign toc_nodes = toc_nodes | where_exp:"item", "item.grand_parent == page.parent" -%}
{%- endif -%}
{%- if toc_nodes.size > 0 -%}
  <hr>
  <h2 class="text-delta">Table of contents</h2>
  <ul>
    {%- for toc_node in toc_nodes -%}
      <li>
        <a href="{{ toc_node.url | absolute_url }}">{{ toc_node.title }}</a>
        {%- if toc_node.summary -%}
          -
          {{ toc_node.summary }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
